# DIA 3

## Temario
- Listas
- Tuplas
- Sets
- Diccionarios

# Estructura de Datos
Las estructuras de datos son formas de organizar información para trabajar con ellas de manera eficiente.
- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenados, sin duplicados
- Diccionarios -> pares clave:valor

Nota:

- Pilas (FILO -> First in, Last out)
- Colas (FIFO -> First in, First Out)
- Listas enlazadas ( o doblemente enlazadas)

## Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos

In [2]:
lista_de_compras = ["manzanas","pan","leche","huevos","mantequilla", "queso","jamon"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']

In [3]:
print(lista_de_compras[0])

manzanas

In [4]:
# Agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
lista_de_compras

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [8]:
# Agregar un elemento en una posición específica
lista_de_compras.insert(1,"platano")
lista_de_compras

['manzanas',
 'platano',
 'platano',
 'pan',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamon',
 'sopa']

In [9]:
print(lista_de_compras)

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [10]:
# Para eliminar un elemento de una lista existe el remove y el pop
lista_de_compras.remove("platano")
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [11]:
lista_de_compras.pop() # Sin nada dentro de parentesis borra el último elemento
lista_de_compras.pop(7) # o puedes agarrar la posición que quieras (pero iniciando desde 0)
# Nota: te retorna el número eliminado

'jamon'

In [12]:
# Podemos recorrer el arreglo por medio de un for
for elementos in lista_de_compras:
  print(elementos)

manzanas
platano
pan
leche
huevos
mantequilla
queso

In [14]:
#len() saca el tamaño de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i+1} - {lista_de_compras[i]}")

7
1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso

In [17]:
promedios = [55.6,97.5,23.6,97.5,72.4,100]
print(promedios)
promedios.sort() #sort() sirve para ordenar la lista de manera ascendente
print(promedios)
#ordenar una lista de manera descendente
promedios.sort(reverse = True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [18]:
# Podemos ingresar al ultimo elemento de una lista
print(promedios[-1])

23.6

In [19]:
# Encontrar el mayor y el menor de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [20]:
# Declaración y uso de matrices
calificaciones = [[100,88,93],[99,56,72]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f"Cali {j}: {cali_j}")
    j +=1
  j = 0
  i += 1

Alumno 1
Cali 1: 100
Cali 2: 88
Cali 3: 93

Alumno 2
Cali 1: 99
Cali 2: 56
Cali 3: 72

## Tuplas
Colecciones ordenadas pero inmutables

In [21]:
# Hagamos un donde guardemos fechas de nacimientos de un grupo en una tupla
fechas = ("10/10/05","22/03/02","17/04/04","25/02/04")
fechas

('10/10/05', '22/03/02', '17/04/04', '25/02/04')

In [22]:
# ES INMUTABLE
fechas.append("10/06/03") #TE VA A MARCAR ERROR

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
fecha_lista = list(fechas) # Aqui ya puedes usar los comandos básicos de una lista

## SETS
Los sets son colecciones SIN orden y que NO permiten elemento duplicados

In [25]:
nombre = {"Angel", "Eliud", "Diana", "Juan", "Juan"}
print(nombre)
print(type(nombre))

{'Eliud', 'Diana', 'Juan', 'Angel'}
<class 'set'>

In [26]:
distintos_datos = {"Angel", 1, "Diana", "Juan", "Juan",4.8}
distintos_datos

{1, 4.8, 'Angel', 'Diana', 'Juan'}

In [27]:
# Add
nombre.add("Leonardo")
nombre

{'Angel', 'Diana', 'Eliud', 'Juan', 'Leonardo'}

In [28]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [29]:
nombre[2] = "Axel"

TypeError: 'set' object does not support item assignment

In [30]:
# Unión
matutino = {20322,22183,123123,53234}
vespertino ={20322,111111,2222222,33333}
# Unión pero con .union()
total_matriculas = matutino.union(vespertino)
print(total_matriculas)
# Unión pero con |
total_matriculas = matutino | vespertino
print(total_matriculas)

{20322, 22183, 111111, 2222222, 53234, 123123, 33333}
{20322, 22183, 111111, 2222222, 53234, 123123, 33333}

In [32]:
# Intersección
ca = { 1234,121,646,12414,73434,124124,675234}
al = {1234,111,222,333,444}
#intersección con .intersection()
ca_al = ca.intersection(al)
print(ca_al)
#intersección usan &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [34]:
# Diferencia
# Diferencia usando .difference
solo_calculo = ca.difference(al)
print(solo_calculo)
# Diferencia usando -
solo_calculo = ca -al
print(solo_calculo)

{675234, 646, 121, 73434, 124124, 12414}
{675234, 646, 121, 73434, 124124, 12414}

In [38]:
nombre = {"Angel", "Eliud", "Diana", "Juan", "Juan"}
print(nombre)
# remove, pop
#nombre.remove("Angel") # Puedes eliminar el que tu quieras
#print(nombre)
nombre.pop() #Elimina un elemento de manera aleatoria
print(nombre)

{'Eliud', 'Diana', 'Juan', 'Angel'}
{'Diana', 'Juan', 'Angel'}

In [39]:
# Eliminar todo el SET
nombre.clear()
nombre

set()

# Diccionarios
Los dicciones son colecciones no ordenadas de pares clave:valor

In [10]:
alumno = {
    #clave     valor
    "nombre": "Sofía Martínez",
    "edad": 21,
    "carrera": "IMC",
    "semestre": 6,
    "promedio": 93,
    "calificaciones": [100,98,94,97,90]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Sofía Martínez',
 'edad': 21,
 'carrera': 'IMC',
 'semestre': 6,
 'promedio': 93,
 'calificaciones': [100, 98, 94, 97, 90]}

In [11]:
print("El alumno:", alumno["nombre"],"esta estudiando", alumno ["carrera"])

El alumno: Sofía Martínez esta estudiando IMC

In [12]:
# Agregar al diccionario
alumno["área preferida"] = "Ciencia de Datos"
alumno

{'nombre': 'Sofía Martínez',
 'edad': 21,
 'carrera': 'IMC',
 'semestre': 6,
 'promedio': 93,
 'calificaciones': [100, 98, 94, 97, 90],
 'área preferida': 'Ciencia de Datos'}

In [13]:
for valor in alumno:
  print(alumno[valor])

Sofía Martínez
21
IMC
6
93
[100, 98, 94, 97, 90]
Ciencia de Datos

In [14]:
for aspecto, valor in alumno.items():
  # devuelve una vista de todos los pares clave: valor del diccionario
  print(aspecto, ":", valor)

nombre : Sofía Martínez
edad : 21
carrera : IMC
semestre : 6
promedio : 93
calificaciones : [100, 98, 94, 97, 90]
área preferida : Ciencia de Datos

In [15]:
# El método .clear() también usar aquí
# Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Sofía Martínez

In [17]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Sofía Martínez'), ('edad', 21), ('carrera', 'IMC'), ('semestre', 6), ('promedio', 93), ('calificaciones', [100, 98, 94, 97, 90]), ('área preferida', 'Ciencia de Datos')])
<class 'dict_items'>
[('nombre', 'Sofía Martínez'), ('edad', 21), ('carrera', 'IMC'), ('semestre', 6), ('promedio', 93), ('calificaciones', [100, 98, 94, 97, 90]), ('área preferida', 'Ciencia de Datos')]
<class 'list'>

In [18]:
# El método .values() sirve para obtener los values del diccionario, también se puede usar en la interacción
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Sofía Martínez', 21, 'IMC', 6, 93, [100, 98, 94, 97, 90], 'Ciencia de Datos'])

In [19]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [21]:
# .copy() puedes copiar todo el diccionario en una nueva variable
# Update -> sirve para cambiar los values (valores) (.update())
alumno.update({"semestre":5})
alumno

{'nombre': 'Sofía Martínez',
 'edad': 21,
 'carrera': 'IMC',
 'semestre': 5,
 'promedio': 93,
 'calificaciones': [100, 98, 94, 97, 90],
 'área preferida': 'Ciencia de Datos'}